extends layout

block content
        .container
                        form.col-md-12.mt-5(method="POST", action="/articles/add", enctype="multipart/form-data")
                                label Курс атауы:
                                input.form-control(name="title", type="text")
                                br
                                label Курс туралы ақпарат:
                                textarea.form-control(name="body", cols="30", rows="5")
                                br

                                .input-group.mb-3
                                        .custom-file
                                                input#inputGroupFile01.custom-file-input(type="file", name="articleImage", aria-describedby="inputGroupFileAddon01")
                                                label.custom-file-label(for='inputGroupFile01') Сурет жүктеу

                                input.btn.btn-primary(type="submit", value="Сақтау")

