extends layout

block content
    .container
        .row
            .col-md-6
                h1= article.title
                h5 Written by #{article.author}
                p= article.body

                hr
                a.btn.btn-outline-warning(href="/articles/edit/"+article._id) Edit
                a.btn.btn-outline-danger.delete-art-btn(href="#", data-id=article._id) Delete