extends course-layout
block courseeee
    .container
            .card-deck
                each article, i in articles
                        a(href="/articles/"+article._id)
                            .card
                                img.card-img-top(src="/img/card5.jpg" alt="...")
                                a(href="/articles/"+article._id)
                                    .card-body
                                        h5.card-title
                                            a(href="/articles/"+article._id)= article.title
                                        p.card-text= article.body
                                    .card-footer.text-muted
                                        p= article.author

            .text-center.mt-3.mb-5
                button.btn.btn-outline-primary.my-2.my-sm-0(type="submit")
                    | Барлық курстар